@model Transportation
@{
    ViewData["Title"] = "Transportation Details";
}

<h2>Transportation Details</h2>

<div class="row">
    <div class="col">
        @using (Html.BeginForm("TransportationDetails", "Transportation", FormMethod.Post))
        {

            <div class="form-group row">
                <div class="col-2"><label>Trip Name:</label></div>
                <div class="col-2"><input readonly="readonly" id="tripName" type="text" name="tripName" asp-for="TripName" /></div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-2"><label>Transportation Type:</label></div>
                <div class="col-2"><input readonly="readonly" id="TransportationType" type="text" name="TransportationType" asp-for="TransportationType" /></div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    @Html.Label("Start Date:")
                </div>
                <div class="col-2"><input readonly="readonly" id="startDate" name="startDate" type="datetime-local" asp-for="StartDate" /></div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    @Html.Label("End Date:")
                </div>
                <div class="col-2"><input readonly="readonly" id="endDate" name="endDate" type="datetime-local" asp-for="EndDate" /></div>
            </div>


            <input id="delete" asp-route-transportationId="@Model.Id" type="submit" value="Remove Event" />
            <a asp-action="SelectedTripDetails" asp-controller="Trip">Cancel</a>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        }
    </div>
</div>