@model Trip
@{
    ViewData["Title"] = "Add Waypoint";
}

<h2>Add Waypoint</h2>

<div>
    @using (Html.BeginForm("AddWaypoint", "Home", FormMethod.Post))
    {
        <div class="form-group row">
            <div class="col-2"><label>Waypoint Name:</label></div>
            <div class="col-2"><input value="" id="name" type="text" name="name" asp-for="Name" /></div>
        </div>

        <br />

        <div class="form-group row">
            <div class="col-2">
                @Html.Label("Start Date:")
            </div>
            <div class="col-2"><input id="startDateTime" name="startDateTime" type="datetime-local" asp-for="StartDate" /></div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                @Html.Label("End Date:")
            </div>
            <div class="col-2"><input id="endDateTime" name="endDateTime" type="datetime-local" asp-for="EndDate" /></div>
        </div>

        <input id="addWaypoint" type="submit" value="Add" />
        <a asp-action="Homepage" asp-controller="Home">Cancel</a>
    }
</div>