@model Waypoint
@{
    ViewData["Title"] = "Add Waypoint";
}

<h2>Add Waypoint</h2>

<div>
    @using (Html.BeginForm("AddWaypoint", "Waypoint", FormMethod.Post))
    {
        <div class="form-group row">
            <div class="col-3"><label>Trip Name:</label></div>
            <div class="col-5"><input class="form-control" readonly="" id="tripName" type="text" name="tripName" asp-for="TripName" /></div>
        </div>

        <br />

        <div style="padding-bottom: 20px" class="form-group row">
            <div class="col-3"><label>Waypoint Name:</label></div>
            <div class="col-6"><input value="" id="waypointName" type="text" name="waypointName" asp-for="WaypointName" /></div>
        </div>

        <div style="padding-bottom: 20px" class="form-group row">
            <div class="col-3"><label>Street Address:</label></div>
            <div class="col-6"><input value="" id="streetAddress" type="text" name="streetAddress" asp-for="StreetAddress" /></div>
        </div>

        <div style="padding-bottom: 20px" class="form-group row">
            <div class="col-3"><label>City:</label></div>
            <div class="col-6"><input value="" id="city" type="text" name="city" asp-for="City" /></div>
        </div>

        <div style="padding-bottom: 20px" class="form-group row">
            <div class="col-3"><label>State/Province:</label></div>
            <div class="col-6"><input value="" id="state" type="text" name="state" asp-for="State" /></div>
        </div>

        <div style="padding-bottom: 20px" class="form-group row">
            <div class="col-3"><label>Zip Code:</label></div>
            <div class="col-6"><input value="" id="zipCode" type="text" name="zipCode" asp-for="ZipCode" /></div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                @Html.Label("Start Date:")
            </div>
            <div class="col-6"><input id="startDate" name="startDate" type="datetime-local" asp-for="StartDate" /></div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                @Html.Label("End Date:")
            </div>
            <div class="col-6"><input id="endDate" name="endDate" type="datetime-local" asp-for="EndDate" /></div>
        </div>


        <input id="addWaypoint" asp-route-name="@Model.TripName" type="submit" value="Add" />
        <a asp-action="SelectedTripDetails" asp-controller="Trip">Cancel</a>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    }
</div>