@model Waypoint
@{
    ViewData["Title"] = "Event Details";
}

<h2>Event Details</h2>

<div class="row">
    <div class="col">
        @using (Html.BeginForm("WaypointDetails", "Waypoint", FormMethod.Post))
        {

            <div class="form-group row">
                <div class="col-2"><label>Trip Name:</label></div>
                <div class="col-2"><input  readonly="readonly" id="tripName" type="text" name="tripName" asp-for="TripName" /></div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-2"><label>Waypoint Name:</label></div>
                <div class="col-2"><input id="waypointName" type="text" name="waypointName" asp-for="WaypointName" /></div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    @Html.Label("Start Date:")
                </div>
                <div class="col-2"><input id="startDate" name="startDate" type="datetime-local" asp-for="StartDate" /></div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    @Html.Label("End Date:")
                </div>
                <div class="col-2"><input id="endDate" name="endDate" type="datetime-local" asp-for="EndDate" /></div>
            </div>


            <input id="delete" asp-route-waypointId="@Model.WaypointId" type="submit" value="Remove Event" />
            <a asp-action="SelectedTripDetails"  asp-controller="Trip" >Cancel</a>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        }
    </div>
</div>
